
body {
    margin: 0;
    font-family: 'Segoe UI', Arial;
    background: #f3f0f7;
    height:100vh;
}

.container {
    width: 75%;
    margin: 40px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.title {
    text-align: center;
    color: #5b21b6;
    margin-bottom: 25px;
    font-size: 26px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
    overflow: hidden;
    border-radius: 10px;
}

.table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.table tr:first-child {
    background: #ede9fe;
    font-weight: bold;
    color: #4c1d95;
}

.table tr:hover {
    background: #f5f3ff;
    transition: 0.2s;
}

.form {
    background: #faf7ff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #eee;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    outline: none;
}

.input:focus {
    border-color: #7c3aed;
}

.btn {
    padding: 10px 18px;
    background: #7c3aed;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background: #6d28d9;
}