body {
    margin: 0;
    font-family: 'Segoe UI', Arial;
    background: #f3f0f7;
    color: #4c1d95;
    text-align: center;
  
}

.page {
    width: 75%;
    margin: 20px auto 40px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    text-align: left;
}

.section {
    margin-bottom: 25px;
}

.section-title {
    text-align: center;
    color: #5b21b6;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
    overflow: hidden;
    border-radius: 10px;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

tr:first-child {
    background: #ede9fe;
    font-weight: bold;
    color: #4c1d95;
}

tr:hover {
    background: #f5f3ff;
    transition: 0.2s;
}

.foot {
    background: #faf7ff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #eee;
    text-align: center;
    color: #5b21b6;
    font-weight: bold;
}